.code-block {
  color: var(--color-text-2);
  padding: 8px;
  background-color: var(--color-fill-1);
  width: fit-content;
}
.code-block-content {
  display: inline-block;
}
.code-block-copy-btn {
  margin-left: 8px;
}
